header{
    text-align: center;
    background-color: lightblue;
    padding: 20px;
}
header h1{
    color: white;
    border: 8px solid white;
    border-radius: 30px;
    
}
form{
    background-color: lightblue;
}
.okay{
    background-color: lightgreen;
    border-radius: 20px;
    padding: 8px;
    position: relative;
    left: 50%;
}